<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="/style.css">

    <title th:text="#{details}"></title>
</head>
<body>

<div th:include="header.html"></div>


<h1 th:text="#{taskDetail}"></h1>

<p th:if="${id == null}" th:text="#{notFound}"></p>

<div th:if="${id != null}">
    <p th:text="#{names} + ' ' + ${id.name}"></p>
    <p th:text="#{description} + ' ' + ${id.description}"></p>
    <p th:text="#{due} + '         ' + ${id.tijdstip} + '   ' + ${id.datum}"></p>

    <p sec:authorize-url="/tasks/new"> <a class="myButton" th:href="@{|/tasks/${id.id}/sub/create|}" th:text="#{createSubtask}"></a></p>

</div>

<h4 th:text="#{subtasks}"></h4>
<p th:if="${id.subTasks.empty}" th:text="#{noSubtasks}"></p>

<table class="purpleHorizon" th:if="${id.subTasks != null and !id.subTasks.empty}">
    <tr th:each="subtask : ${id.subTasks}">
        <td th:text="${subtask.subId - 1} + '    ' + ${subtask.name} + #{due} + ' '"></td>
        <td th:text="${subtask.datum}"></td>
        <td th:text="${subtask.tijdstip}"></td>
    </tr>
</table>

</body>
</html>
