<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>tasks</title>
    <link rel="Stylesheet" type="text/css" href="/style.css">

</head>
<body>

<header class="header">
<ul>
    <li><a href="#" th:href="@{/tasks/}">Home</a></li>
    <li><a href="#" th:href="@{/tasks/new}">New Task</a></li>
</ul>
</header>


<form class="form" method="post" action="/tasks/new">
    <h4>Add task</h4>
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="description">Description: </label>
        <input type="text" name="description"   id="description">
    </div>
    <div>
        <label for="tijdstip">Tijdstip: </label>
        <input type="String" name="tijdstip"  id="tijdstip">
    </div>
    <div>
        <label for="datum">Datum: </label>
        <input type="String" name="datum" id="datum">
    </div>
    <div style="display: none">
        <label for="id">id: </label>
        <input type="number" name="id"  id="id" th:value="0">
    </div>
    <input class="myButton" type="submit" value="Add task">
</form>

</body>
</html>