<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{news}"></title>
    <link rel="Stylesheet" type="text/css" href="/style.css">

</head>
<body>

<div th:include="header.html"></div>



<form class="form" method="post" action="/tasks/new">
    <h4 th:text="#{newTask}"></h4>
    <div>
        <label for="name" th:text="#{names}"></label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="description" th:text="#{description}"></label>
        <input type="text" name="description"   id="description">
    </div>
    <div>
        <label for="tijdstip" th:text="#{time}"></label>
        <input type="String" name="tijdstip"  id="tijdstip">
    </div>
    <div>
        <label for="datum" th:text="#{date}"></label>
        <input type="String" name="datum" id="datum">
    </div>
    <div style="display: none">
        <label for="id" th:text="#{ids}"></label>
        <input type="number" name="id"  id="id" th:value="0">
    </div>
    <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>

    <input class="myButton" type="submit" value="submit">
</form>

</body>
</html>
